@charset "UTF-8";

    header > nav{
    flex-flow: column nowrap;
    }
    
    header >h1{
        flex-basis: 30px;
    }
    header > nav> a {
        width: 90vw;
    }
    .audio{
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;

    }
    .img{/*imagem*/
        background-image: url(../fotos/3.jpg);
    }