@charset "UTF-8";



p{
    background-color: rgb(171, 233, 241);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.img{/*imagem*/
    max-width: 100%;
    display: block;
    max-width: 1500px;
    margin: 0 auto;
    
}
body{
    background-color: rgb(80, 0, 0);
    
}
.flex> audio{
    align-items:center ;
    
    background-color: rgb(255, 255, 255);
    
}
.flex> h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
    background-color: rgb(44, 13, 13);
    padding: 20PX;
    margin-top: auto;
}
.download{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    
}

.odvoltar , a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

    
}
.voltar> .download , a:hover{
    background-color: rgb(143, 5, 5);
    transition: background-color .2s;
    transition: color black;
    margin: auto;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

